<footer class="footer py-3 mt-auto">
    <div class="container d-flex justify-content-center align-items-center">
        <p class="text-center text-light fw-lighter">&copy; Shopping-Cart 2023</p>
    </div>
    <div class="contact">
        <a href="https://www.linkedin.com/in/shubham-choudhary-5606521a5/" target="_blank"><i class="fab fa-linkedin"></i>Linkedin</a>
        <a href="https://www.facebook.com/profile.php?id=100009876463936" target="_blank"><i class="fab fa-facebook-square"></i>Facebook</a>
        <a href="https://www.instagram.com/shubham_o4/" target="_blank"><i class="fab fa-instagram"></i>Instagram</a>
    </div>
</footer>